*, *::after, *::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all .2s;
    transition: all .2s;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  html, body {
    line-height: 1.5;
  }

  img {
    max-width: 100%;
    display: block;
  }
  
  body {
    font-family: "Microsoft JhengHei";
    padding-top: 120px;
  }

.panel {
    max-width: 920px;
    margin: 0 auto;
    margin-bottom: 100px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 95px;

}

.section-left {
    margin-right: 30px;
    width: 350px;
   img {
    margin: 0 auto 21px;
   }
}

.section-right {
    width: 350px;
}
    
.title {
    color: #00807E;
    border-bottom: #00807E 3px solid;
    margin-bottom: 32px;
    span {
        margin-right: 6px;
    }
}

form {
    display: flex;
    flex-direction: column;
}
.form-input {
    color: #00807E;
    font-size: 16px;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;

        label {
            font-weight: bold;
   
        }
        input, select, textarea {
            width: 72%;
            text-indent: 0.5rem;
            background-color: #F7F7F7;
            color: #818A91;
            font-size: 1rem;
            border: none;
            border-bottom: 1px solid #00807E;
            min-height: 38px;
        }

    }
}
.ticket-btn {
    align-self: flex-end;
    font-size: 1.25rem;
    padding: 10px 40px;
    border: none;
    background-color: #00807E;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    &:hover {
        background-color: #64C3BF;
      }
}

section {
    background-color: #F7F7F7;

    .search-area {
        display: flex;
        padding: 56px;
        align-items: center;
        .select-search {
            width: 27.5%;
            min-height: 38px;
            text-indent: 0.5rem;
            color: #818A91;
            font-size: 1rem;
            border: 1px solid #CED4DA;
            border-radius: 5px;
            margin-right: 2.5%;
        }
        p {
            color:#818A91;
        }

    }


    .card-group {
        max-width: 1100px;
        margin: 0 auto;
    
        .cards {
            display: flex;
            flex-wrap: wrap;
            max-width: 1100px;
            margin: 0 auto;
            .card {
                width: 31.3333%;
                background-color: #fff;
                box-shadow: 0px 3px 6px #00000029;
                border: 1px solid #DEE2E6;
                border-radius: 5px;
                margin-bottom: 38px;
                margin-right: 2%;
                .card-img {
                    position: relative;
                    .card-img-region, .card-img-rank {
                        position: absolute;
                        border-radius: 0 5px 5px 0px;
                        color: #FFF;
                        text-align: center;
                      }
                      
                      .card-img-region {
                        top: -13px;
                        left: 0;
                        font-size: 1.25rem;
                        background-color: #64C3BF;
                        padding: 12px 20px;
                      }
                      
                      .card-img-rank {
                        bottom: -16px;
                        left: 0;
                        background-color: #00807E;
                        padding: 5px 8px;
                        min-width: 40px;
                      }
                     a {
                        display: block;
                        overflow: hidden;
                      }
                      img {
                        width: 100%;
                        height: 180px;
                           &:hover {
                            transform: scale(1.15);
                            }         
                      }
                }
            }
        }

        .card-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
            height: calc(100% - 180px);
          }
          
          .card-content-name {
            display: block;
            text-decoration: none;
            color: #00807E;
            font-size: 1.5rem;
            font-weight: bold;
            padding-bottom: 5px;
            border-bottom: 2px solid #00807E;
            margin-bottom: 20px;
            &:hover {
                color: #64C3BF;
              }
          }

          .card-content-set {
            color: #818A91;
            margin-bottom: 32px;
          }
          
          .card-info {
            color: #00807E;
            font-family: 'Roboto', sans-serif;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          
          .card-num {
            font-weight: bold;
          }
          
          .card-price {
            display: flex;
            align-items: center;
            span {
                font-size: 2rem;
                font-weight: bold;
            }
          }     
    }
}




@media (max-width: 768px) {

    body {
        padding: 0;
    }

    .panel {
        width: 100%;
        box-shadow: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 16px;
        .section-left {
            margin-right: 0px;
            width: 100%;
         
        }
        
        .section-right {
            width: 100%;
        }
            
        
        form {
            li {
                display: flex;
                flex-direction: column;
                label {
                    align-self: start;
                }
                input, select, textarea {
                    width: 100%;
                }
            }
        }
        .ticket-btn {
            align-self: center;
        }
 
        .img-logo {
            display: none;
        }
    }
    
    section {
        .search-area {
            flex-direction: column;
            justify-content: center;
            .select-search {
                margin-right: 0;
                margin-bottom: 10px;
                width: 80%;
            }
          }
    
       .card-group {
            .cards {
              .card {
                width: 46%;
                margin: 0 2% 40px;
              }
            }
       }
       
    }
 
  }


  @media (max-width: 576px) {
    section {
        .card-group {
            .cards {
                .card {
                    width: 90%;
                    margin: 0 5% 30px;
                  }
            }
       } 
    }
   
}